{% extends 'base.html' %}

{% load static %}

{% block title %}Cart Home{% endblock title %}
{% block description %}{% endblock description %}
{% block authors %}{% endblock authors %}
{% block keywords %}{% endblock keywords %}
{% block styles %}
<style>

</style>
{% endblock styles %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4 pt-4">
            <h4 class="display-4 text-center" style="color: var(--main);">Your Cart</h4>
            {% if cart.foods.count != 0 or cart.groceries.count != 0 %}
            <div class="table-responsive-md">
                <table class="table">
                    <thead class="" style="background: var(--main)!important; color: #fff;">
                        <tr>
                            <th scope="col" class="col-md-7" style="min-width: 250px!important;">Item Name</th>
                            <th scope="col" class="col-md-2 col-sm-12" style="min-width: 100px!important;">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart.foods.all %}
                        <tr>
                            <td><a href="{% url 'products:food_detail' item.food.id %}">
                                    <p class="lead"><strong>{{ item.food.name }}</strong></p>
                                </a>
                                <small>{{ item.food.summary }}</small><br>
                                {% include 'products/snippets/add-to-cart.html' with cart=cart food=item.food %}
                                <div style="margin: 5px 0;"></div>
                                {% include 'products/snippets/remove-from-cart.html' with cart=cart food=item.food %}
                            </td>
                            <td>{{ item.quantity }} x Rs. {{ item.food.discount_price }} = {{ item.cost }}</td>
                        </tr>
                        {% endfor %}
                        {% for item in cart.groceries.all %}
                        <tr>
                            <td><a href="{% url 'grocery:grocery_detail' item.grocery.id %}">
                                    <p class="lead"><strong>{{ item.grocery.name }}</strong></p>
                                </a>
                                <small>{{ item.grocery.quantity }} {{ item.grocery.scale }}</small><br>
                                {% include 'grocery/snippets/add-to-cart.html' with cart=cart grocery=item.grocery %}
                                <div style="margin: 5px 0;"></div>
                                {% include 'grocery/snippets/remove-from-cart.html' with cart=cart grocery=item.grocery %}
                            </td>
                            <td>{{ item.quantity }} x Rs. {{ item.grocery.discount_price }} = {{ item.cost }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th>Sub Total</th>
                            <th>{% if cart.foods.count == 0 and cart.groceries.count == 0 %}0.00{% else %}{{ cart.sub_total }}{% endif %}</th>
                        </tr>
                        <tr>
                            <th>Shipping Charges</th>
                            <th>{% if cart.foods.count == 0 and cart.groceries.count == 0 %}0.00{% else %}{% if request.user.is_authenticated %}{% if request.user.order_count != 0 %}{{ cart.shipping }}{% else %}<span
                                    style="color: var(--main);">(Reduced)</span> {{cart.shipping}}
                                {% endif %}{% else %}{{ cart.shipping{% endif %}{% endif %}</th>
                        </tr>
                        <tr>
                            <th>Discount (If Any)</th>
                            <th>{% if cart.foods.count == 0 and cart.groceries.count == 0 %}0.00{% else %}{% if request.user.is_authenticated %}{% if request.user.order_count == 0 %}{{ cart.shipping }}{% else %}0.00{% endif %}{% else %}0.00{% endif %}{% endif %}
                            </th>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <th>{% if cart.foods.count == 0 and cart.groceries.count == 0 %}0.00{% else %}{{ cart.total }}{% endif %}</th>
                        </tr>
                    </tbody>
                </table>
                {% if cart.foods.count != 0 or cart.groceries.count != 0 %}
                {% if request.user.is_authenticated %}
                <a href="{% url 'addresses:select' %}" class="button m-4" style="float: right!important;">Continue</a>
                {% else %}
                <a href="{% url 'accounts:login' %}?next={{ request.get_full_path|urlencode }}" class="button m-4"
                    style="float: right!important;">Login to Continue</a>
                <p class="lead" style="float: right!important;">Not registered yet?</p>
                <a href="{% url 'accounts:signup' %}?next={{ request.get_full_path|urlencode }}" class="button m-4"
                    style="float: right!important;">Register to Continue</a>
                {% endif %}
                {% endif %}
            </div>
            {% else %}
            <center><img src="{% static 'svg/3.svg' %}" alt="Cart is Empty" width="200px"></center>
            <center>
                <p class="lead">Ohhhh It seams your cart is feeling hungry !!!</p>
            </center>
            <center><a href="{% url 'core:home' %}" class="button">Feed it now</a></center>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}