{% extends 'base.html' %}

{% load static %}

{% block title %}Enjoy {% if food %}{{ food.name }}{% else %}Easyeats{% endif %}{% endblock title %}
{% block description %}{% endblock description %}
{% block authors %}{% endblock authors %}
{% block keywords %}{% endblock keywords %}
{% block styles %}{% endblock styles %}

{% block content %}


<style>
    @media screen and (max-width:720px) {
        .main-item-card {
            padding: 5px 6px !important;
        }

        .food-card {
            max-width: 300px !important;
            height: 250px!important;
            padding-left: 5px!important; 
            padding-right: 5px!important; 
        }

        .food-card img {
            max-width: 150px!important;
            margin-left: auto!important;
            margin-right: auto!important;
            height: 90px!important;
        }
    }
</style>



<!--================Hero Banner Section start =================-->
<section class="hero-banner">
    <div class="hero-wrapper">
        <div class="hero-left">
            <h1 class="hero-title">{{ food.name }}</h1>
            
            <ul class="hero-info d-none d-lg-block">
                <li>
                    <img src="{% static 'img/banner/fas-service-icon.png' %}" alt="">
                    <h4>Fast Service</h4>
                </li>
                <li>
                    <img src="{% static 'img/banner/fresh-food-icon.png' %}" alt="">
                    <h4>Fresh Food</h4>
                </li>
                <li>
                    <img src="https://i.pinimg.com/originals/fd/80/ec/fd80ecec48eba2a9adb76e4133905879.png" alt=""
                        width="35px">
                    <h4>No Minimum order</h4>
                </li>
            </ul>
        </div>
        <div class="hero-right">
            <div class="owl-carousel owl-theme hero-carousel">
                {% if food.foodimage_set %}
                {% for image in food.foodimage_set.all %}
                <div class="hero-carousel-item">
                    <img class="img-fluid"
                        src="{% if image.image %}{{ image.image.url }}{% else %}https://images.pexels.com/photos/1095550/pexels-photo-1095550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940{% endif %}"
                        alt="">
                </div>
                {% endfor %}
                {% else %}
                <div class="hero-carousel-item">
                    <img src="http://lorempixel.com/500/250/food/" alt="" class="img-fluid">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!--================Hero Banner Section end =================-->



{% if food %}
<!--================Detail Area =================-->
<section class="blog_area single-post-area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="blog_details">
                        <h2>{{ food.name|upper }}</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#">Added {{ food.added|timesince }} ago</a></li>
                        </ul>

                        {% if cart %}
                        <div class="quotes-wrapper my-3">
                            {% include 'products/snippets/add-to-cart.html' with food=food cart=cart %}
                        </div>
                        {% endif %}
                        <div class="quote-wrapper">
                            {{ food.summary }}
                        </div>
                        <p class="excert">

                            {{ food.description }}

                        </p>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info"><span class="align-middle"><i class="ti-heart"></i></span> 4
                            people love this</p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <p class="comment-count"><span class="align-middle"><i class="ti-comment"></i></span> 06
                                Comments</p>
                        </div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="ti-dribbble"></i></a></li>
                            <li><a href="#"><i class="ti-wordpress"></i></a></li>
                        </ul>
                    </div>


                    <div class="comments-area">
                        {% if reviews %}
                        <h4>{{ reviews.count }} Reviews</h4>
                        <div class="comment-list">
                            {% for review in reviews %}
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb py-2">
                                        <img src="{% if review.user.profile_photo %}{{ review.user.profile_photo.url }}{% else %}https://cdn.iconscout.com/icon/free/png-512/avatar-370-456322.png{% endif %}"
                                            alt="{{ review.user.user_id }}">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            {{ review.comment }}
                                        </p>

                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">{{ review.user.full_name }}</a>
                                                </h5>
                                                <p class="date">{{ review.added }} </p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <p class="lead">No reviews found for this food</p>
                        {% endif %}
                    </div>
                    <div class="comment-form">
                        <h4>Leave a Review about {{ food.name }} below</h4>
                        {% if request.user.is_authenticated %}
                        <form class="form-contact comment_form" action="#" id="commentForm" method="POST">
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm">Submit Review</button>
                            </div>
                        </form>
                        {% else %}
                        <a href="{% url 'accounts:login' %}">Login</a> here to review the dish
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">

                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title"><a href="{% url 'products:categories' %}">Category</a></h4>
                        {% if categories %}
                        <ul class="list cat-list">
                            {% for category in categories %}
                            <li>
                                <a href="{% url 'products:categories_detail' category.id %}" class="d-flex">
                                    <p>{{ category.name }}</p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title"><a href="{% url 'products:restaurants' %}">Restaurant</a></h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="{% url 'products:restaurant_detail' food.restaurant.id %}" class="d-flex">
                                    <p class="lead">{{ food.restaurant.name }}</p>
                                </a>
                            </li>
                        </ul>
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recommended Dishes</h3>
                        {% if recommendations %}
                        {% for item in foods %}
                        <div class="col-lg-3 col-6 col-sm-6 col-md-3 p-0 main-item-card">
                            <a href="{% url 'products:food_detail' item.id %}">
                                <div class="media align-items-center food-card p-3 w-100">
                                    <div class="media-body">
                                        <div class="row justify-content-center">
                                            <img class=""
                                            src="{% if item.foodimage_set.first.image %}{{ item.foodimage_set.first.image.url }}{% else %}https://images.pexels.com/photos/1095550/pexels-photo-1095550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940{% endif %}"
                                            alt="" style="height: 120px; max-width: 200px;">
                                        </div>
                                        <div class="d-flex justify-content-center mt-2">
                                            <h4 style="color: var(--main); font-size: 14px;">{{ item.name }}
                                            </h4>
                                        </div>

                                        <p style="font-size: 11px;  margin: 0 6px;">{{ item.restaurant.name }}</p>
                                        <h3 class="price-tag" style="font-size: 14px; margin: 0 6px;"><strike
                                                style="font-size: 10px!important; color: orange; margin-right: 10px;">{{ item.gross_price }}</strike>{{ item.discount_price }}
                                        </h3>
                                        <div style="float: left; margin-top: 7px;">
                                          {% include 'products/snippets/add-to-cart.html' with food=item cart=cart %}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        {% if tags %}
                        <ul class="list">
                            {% for tag in tags %}
                            <li>
                                <a href="{% url 'core:search' %}?search={{ tag.name }}">{{ tag.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Detail Area =================-->
{% else %}
<div class="row justify-content-center">
    <p class="lead">No food found. Maybe you are facing some issue. Kindly <a href="{% url 'core:report' %}"
            class="button"> Report the issue</a> in order to get the proper assistance.</p>
</div>
{% endif %}




<!--================Featured Section Start =================-->
<section class="section-margin mb-lg-0 mb-md-0"
  style="background: url(/static/svg/6.svg) no-repeat; background-position: right;">
  <div class="container">
    <div class="section-intro">
      <h4 class="intro-title">Featured Items</h4>
      <h2>Fresh taste at great price</h2>
    </div>

    {% if featured_foods %}
    <div class="owl-carousel owl-theme featured-carousel">
      {% for item in featured_foods %}
      <div class="col-lg-12 col-12 col-sm-12 col-md-12 p-0 main-item-card">
        
          <div class="media align-items-center food-card p-3 w-100">
            <div class="media-body">
              <div class="row justify-content-center">
                <a href="{% url 'products:food_detail' item.id %}">
                <img class=""
              src="{% if item.foodimage_set.first.image %}{{ item.foodimage_set.first.image.url }}{% else %}https://images.pexels.com/photos/1095550/pexels-photo-1095550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940{% endif %}"
              alt="" style="height: 120px; max-width: 200px;">
              </a>
              </div>
              <div class="d-flex justify-content-center mt-2">
                <a href="{% url 'products:food_detail' item.id %}">
                <h4 style="color: var(--main); font-size: 14px;">{{ item.name }}
                </h4>
                </a>
              </div>

              <p style="font-size: 11px;  margin: 0 6px;">{{ item.restaurant.name }}</p>
              <h3 class="price-tag" style="font-size: 14px; margin: 0 6px;"><strike
                  style="font-size: 10px!important; color: orange; margin-right: 10px;">{{ item.gross_price }}</strike>{{ item.discount_price }}
              </h3>
              <p class="lead" style="color: orangered; font-size: 12px; float: left; margin: 0 6px;">20% Off</p>
              <div style="float: right; margin-top: -20px;  margin-right: 6px;">
                {% include 'products/snippets/add-to-cart.html' with food=item cart=cart %}</div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p class="lead">No food items found</p>
    {% endif %}
  </div>
</section>
<!--================Featured Section End =================-->

{% endblock content %}

{% block scripts %}
{% endblock scripts %}