{% extends 'base.html' %}

{% load static %}

{% block title %}Enjoy {% if food %}{{ food.name }}{% else %}Easyeats{% endif %}{% endblock title %}
{% block description %}{% endblock description %}
{% block authors %}{% endblock authors %}
{% block keywords %}{% endblock keywords %}
{% block styles %}{% endblock styles %}

{% block content %}


<style>
    @media screen and (max-width:720px) {
        .main-item-card {
            padding: 5px 6px !important;
        }

        .food-card {
            max-width: 300px !important;
            height: 250px!important;
            padding-left: 5px!important; 
            padding-right: 5px!important; 
        }

        .food-card img {
            max-width: 150px!important;
            margin-left: auto!important;
            margin-right: auto!important;
            height: 90px!important;
        }
    }
</style>



<!--================Hero Banner Section start =================-->
<section class="hero-banner">
    <div class="hero-wrapper">
        <div class="hero-left">
            <h1 class="hero-title">{{ restaurant.name }}</h1>
            <div class="d-sm-flex flex-wrap">
                <form action="{% url 'core:search' %}?search={{ query}}" method="get" class="w-100">
                    <div class="input-group mb-3 shadow-lg" style="height: 50px;">
                        <input type="text" class="form-control w-75" placeholder="Search something awesome..."
                            aria-label="Recipient's username" aria-describedby="basic-addon2" style="height: 50px;"
                            name="search">
                        <div class="input-group-append w-25">
                            <button type="submit" class="input-group-text w-100 text-center" id="basic-addon2"
                                style="background-color: var(--main); color: #fff;">
                                <center>Search</center>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="hero-info d-none d-lg-block">
                <li>
                    <img src="{% static 'img/banner/fas-service-icon.png' %}" alt="">
                    <h4>Fast Service</h4>
                </li>
                <li>
                    <img src="{% static 'img/banner/fresh-food-icon.png' %}" alt="">
                    <h4>Fresh Food</h4>
                </li>
                <li>
                    <img src="https://i.pinimg.com/originals/fd/80/ec/fd80ecec48eba2a9adb76e4133905879.png" alt=""
                        width="35px">
                    <h4>No Minimum order</h4>
                </li>
            </ul>
        </div>
        <div class="hero-right">
            <div class="owl-carousel owl-theme hero-carousel">
                {% if restaurant.restaurantimage_set %}
                {% for image in restaurant.restaurantimage_set.all %}
                <div class="hero-carousel-item">
                    <img class="img-fluid" src="{{ image.image.url }}" alt="">
                </div>
                {% endfor %}
                {% else %}
                <div class="hero-carousel-item">
                    <img src="https://images.pexels.com/photos/1095550/pexels-photo-1095550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        alt="" class="img-fluid">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!--================Hero Banner Section end =================-->



{% if restaurant %}
<!--================Detail Area =================-->
<section class="blog_area single-post-area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 posts-list">
                <div class="single-post">
                    <div class="owl-carousel owl-theme hero-carousel w-100">
                        {% if restaurant.restaurantimage_set %}
                        {% for item in restaurant.restaurantimage_set.all %}
                        <div class="hero-carousel-item">
                            <img class="img-fluid"
                                src="{% if item.image %}{{ item.image.url }}{% else %}https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940{% endif %}"
                                alt="">
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="hero-carousel-item">
                            <img src="https://images.pexels.com/photos/1095550/pexels-photo-1095550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                alt="" class="img-fluid">
                        </div>
                        {% endif %}
                    </div>
                    <div class="blog_details">
                        <h2>{{ restaurant.name|upper }}</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li>Added {{ restaurant.added|timesince }} ago</li>
                            <li>By {{ restaurant.vendor.user.full_name }}</li>
                        </ul>

                        <div class="quote-wrapper">
                            <p class="lead"><strong>Address:</strong></p>
                            {{ restaurant.address1 }},<br>
                            {{ restaurant.address2 }}, <br>
                            {{ restaurant.city }}, {{restaurant.state|title}} <br>
                            {{ restaurant.country|title }} - {{ restaurant.pincode }}

                            <br>
                            <p class="lead"><strong>Contact Details:</strong></p>
                            <a href="tel:+91-{{restaurant.mobile_number}}"
                                style="color: var(--main);">+91-{{ restaurant.mobile_number }}</a><br>
                            <a href="mailto:{{ restaurant.email}}"
                                style="color: var(--main);">{{ restaurant.email }}</a>
                        </div>
                        <div class="container">
                            <p class="lead">Top Dishes</p>
                            <div class="row">
                                {% for item in foods %}
                                <div class="col-lg-3 col-6 col-sm-6 col-md-3 p-0 main-item-card">
                                    <a href="{% url 'products:food_detail' item.id %}">
                                        <div class="media align-items-center food-card p-3 w-100">
                                            <div class="media-body">
                                                <div class="row justify-content-center">
                                                    <img class=""
                                                    src="{% if item.foodimage_set.first.image %}{{ item.foodimage_set.first.image.url }}{% else %}https://images.pexels.com/photos/1095550/pexels-photo-1095550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940{% endif %}"
                                                    alt="" style="height: 120px; max-width: 200px;">
                                                </div>
                                                <div class="d-flex justify-content-center mt-2">
                                                    <h4 style="color: var(--main); font-size: 14px;">{{ item.name }}
                                                    </h4>
                                                </div>

                                                <p style="font-size: 11px;  margin: 0 6px;">{{ item.restaurant.name }}
                                                </p>
                                                <h3 class="price-tag" style="font-size: 14px; margin: 0 6px;"><strike
                                                        style="font-size: 10px!important; color: orange; margin-right: 10px;">{{ item.gross_price }}</strike>{{ item.discount_price }}
                                                </h3>
                                                <p class="lead"
                                                    style="color: orangered; font-size: 12px; float: left; margin: 0 6px;">
                                                    20% Off</p>
                                                <div style="float: right; margin-top: -20px;  margin-right: 6px;">
                                                    {% include 'products/snippets/add-to-cart.html' with food=item cart=cart %}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info"><span class="align-middle"><i class="ti-heart"></i></span> 4
                            people love this</p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <p class="comment-count"><span class="align-middle"><i class="ti-comment"></i></span> 06
                                Comments</p>
                        </div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li><a href="#"><i class="ti-dribbble"></i></a></li>
                            <li><a href="#"><i class="ti-wordpress"></i></a></li>
                        </ul>
                    </div>


                    <div class="comments-area">
                        {% if reviews %}
                        <h4>{{ reviews.count }} Reviews</h4>
                        <div class="comment-list">
                            {% for review in reviews %}
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb py-2">
                                        <img src="{% if review.user.profile_photo %}{{ review.user.profile_photo.url }}{% else %}https://cdn.iconscout.com/icon/free/png-512/avatar-370-456322.png{% endif %}"
                                            alt="{{ review.user.user_id }}">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            {{ review.comment }}
                                        </p>

                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">{{ review.user.full_name }}</a>
                                                </h5>
                                                <p class="date">{{ review.added }} </p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <p class="lead">No reviews found for this restaurants</p>
                        {% endif %}
                    </div>
                    <div class="comment-form">
                        <h4>Leave a Review about {{ restaurant.name }} below</h4>
                        {% if request.user.is_authenticated %}
                        <form class="form-contact comment_form" action="#" id="commentForm" method="POST">
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm">Submit Review</button>
                            </div>
                        </form>
                        {% else %}
                        <a href="{% url 'accounts:login' %}">Login</a> here to review the dish
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Detail Area =================-->
{% else %}
<div class="row justify-content-center">
    <p class="lead">No food found. Maybe you are facing some issue. Kindly <a href="{% url 'core:report' %}"
            class="button"> Report the issue</a> in order to get the proper assistance.</p>
</div>
{% endif %}


<!--================Featured Section Start =================-->
<section class="section-margin mb-lg-0 mb-md-0"
    style="background: url(/static/svg/6.svg) no-repeat; background-position: right;">
    <div class="container">
        <div class="section-intro">
            <h4 class="intro-title">Featured Items</h4>
            <h2>Fresh taste at great price</h2>
        </div>

        {% if featured_foods %}
        <div class="owl-carousel owl-theme featured-carousel">
            {% for item in featured_foods %}
            <div class="col-lg-12 col-12 col-sm-12 col-md-12 p-0 main-item-card">
                <a href="{% url 'products:food_detail' item.id %}">
                    <div class="media align-items-center food-card p-3 w-100">
                        <div class="media-body">
                            <div class="row justify-content-center">
                                <img class=""
                                src="{% if item.foodimage_set.first.image %}{{ item.foodimage_set.first.image.url }}{% else %}https://images.pexels.com/photos/1095550/pexels-photo-1095550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940{% endif %}"
                                alt="" style="height: 120px; max-width: 200px;">
                            </div>
                            <div class="d-flex justify-content-center mt-2">
                                <h4 style="color: var(--main); font-size: 14px;">{{ item.name }}
                                </h4>
                            </div>

                            <p style="font-size: 11px;  margin: 0 6px;">{{ item.restaurant.name }}</p>
                            <h3 class="price-tag" style="font-size: 14px; margin: 0 6px;"><strike
                                    style="font-size: 10px!important; color: orange; margin-right: 10px;">{{ item.gross_price }}</strike>{{ item.discount_price }}
                            </h3>
                            <p class="lead" style="color: orangered; font-size: 12px; float: left; margin: 0 6px;">20%
                                Off</p>
                            <div style="float: right; margin-top: -20px;  margin-right: 6px;">
                                {% include 'products/snippets/add-to-cart.html' with food=item cart=cart %}</div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="lead">No food items found</p>
        {% endif %}
    </div>
</section>
<!--================Featured Section End =================-->


{% endblock content %}

{% block scripts %}
{% endblock scripts %}