{% extends 'base.html' %}

{% load static %}

{% block title %}You searched for {{ query }} on Easyeats{% endblock title %}
{% block description %}{% endblock description %}
{% block authors %}{% endblock authors %}
{% block keywords %}{% endblock keywords %}
{% block styles %}{% endblock styles %}

{% block content %}


<!--================Search Section start =================-->
<section class="hero-banner">
    <div class="hero-wrapper">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12">
                <form action="{% url 'core:search' %}?search={{ query}}" method="GET">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" value="{{ query }}" name="search" placeholder="Search Awesome foods here">
                        </div>
                    </div>
                    <center>
                        <button class="button rounded-0 primary-bg text-white w-25" type="submit">Search</button>
                    </center>
                </form>
                <p class="lead mt-5">Showing results for <a href="{% url 'core:search' %}?search={{ query}}" style="color: var(--main);">{{ query }}</a></p>
            </div>
        </div>
    </div>
</section>
<!--================Search Section end =================-->


<!--================Food menu section start =================-->
<section class="section-margin">
    <div class="container">
        <div class="section-intro mb-75px">
            <h4 class="intro-title">Food Menu</h4>
            <h2>Delicious food</h2>
        </div>
        {% if foods %}
        <div class="row">
                {% for item in foods %}
                <div class="card w-25 mt-3 p-4">
                    <img class="card-img-top" src="{{ item.foodimage_set.first.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'products:food_detail' item.id %}" style="color: var(--main);">{{ item.name }}</a></h5>
                        <p class="card-text">{{ item.summary }}</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                    <div class="card-footer">
                        <h3 class="price-tag"><strike
                                style="font-size: 16px!important; color: orange; margin-right: 10px;">{{ item.gross_price }}</strike>{{ item.discount_price }}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="button">Add to Cart</a>
                    </div>
                </div>
                {% endfor %}
        </div>
        <hr>

        {% if foods.has_other_pages %}
        <ul class="pagination justify-content-center mt-5">
            {% if foods.has_previous %}
            <li class="page-item"><a href="?page={{ foods.previous_page_number }}" class="page-link">&laquo;</a></li>
            {% else %}
            <li class="page-item disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in foods.paginator.page_range %}
            {% if foods.number == i %}
            <li class="btn"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if foods.has_next %}
            <li class="page-item"><a href="?page={{ foods.next_page_number }}" class="page-link">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}


        {% else %}
        <p class="lead">No Products found</p>
        {% endif %}
    </div>
</section>
<!--================Food menu section end =================-->




<!--================Restaurant section start =================-->
<section class="section-margin">
    <div class="container">
        <div class="section-intro mb-75px">
            <h4 class="intro-title">Restaurants</h4>
            <h2>Full featured cuisines</h2>
        </div>
        {% if restaurants %}
        <div class="row">
                {% for item in restaurants %}
                <div class="card w-25 mt-3 p-4">
                    <img class="card-img-top" src="{{ item.restaurantimage_set.first.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'products:restaurant_detail' item.id %}" style="color: var(--main);">{{ item.name }}</a></h5>
                        <p class="card-text">{{ item.food_set.all.count }} Dishes</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
                {% endfor %}
        </div>
        <hr>

        {% if restaurants.has_other_pages %}
        <ul class="pagination justify-content-center mt-5">
            {% if restaurants.has_previous %}
            <li class="page-item"><a href="?page={{ restaurants.previous_page_number }}" class="page-link">&laquo;</a></li>
            {% else %}
            <li class="page-item disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in restaurants.paginator.page_range %}
            {% if restaurants.number == i %}
            <li class="btn"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if restaurants.has_next %}
            <li class="page-item"><a href="?page={{ restaurants.next_page_number }}" class="page-link">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}


        {% else %}
        <p class="lead">No Restaurants found</p>
        {% endif %}
    </div>
</section>
<!--================Restaurant section end =================-->



<!--================Featured Section Start =================-->
<section class="section-margin mb-lg-100">
    <div class="container">
        <div class="section-intro mb-75px">
            <h4 class="intro-title">Featured Items</h4>
            <h2>Fresh taste at great price</h2>
        </div>

        {% if featured_foods %}
        <div class="owl-carousel owl-theme featured-carousel">
            {% for item in featured_foods %}
            <div class="featured-item">
                <img class="card-img rounded-0" src="{{ item.foodimage_set.first.image.url }}" alt="">
                <div class="item-body">
                    <a href="{% url 'products:food_detail' item.id %}">
                        <h3 style="color: var(--main);">{{ item.name }}</h3>
                    </a>
                    <p>{{ item.summary }}</p>
                    <div class="d-flex justify-content-between">
                        <ul class="rating-star">
                            <li><i class="ti-star"></i></li>
                            <li><i class="ti-star"></i></li>
                            <li><i class="ti-star"></i></li>
                            <li><i class="ti-star"></i></li>
                            <li><i class="ti-star"></i></li>
                        </ul>
                        <h3 class="price-tag"><strike
                                style="font-size: 20px!important; color: orange; margin-right: 10px;">{{ item.gross_price }}</strike>{{ item.discount_price }}
                        </h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="lead">No food items found</p>
        {% endif %}
    </div>
</section>
<!--================Featured Section End =================-->




{% endblock content %}

{% block scripts %}
{% endblock scripts %}