{% extends 'accounts/myaccount/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block myacc_title %}Address {{ address.name }}{% endblock myacc_title %}
{% block description %}{% endblock description %}
{% block authors %}{% endblock authors %}
{% block keywords %}{% endblock keywords %}
{% block styles %}{% endblock styles %}


{% block main %}

{% if address %}
<div class="container">
    <h4 class="display-4">Manage Address - {{ address.name }}</h4>
    <a href="{% url 'accounts:delete_address' address.id %}" class="btn btn-danger btn-lg">Delete</a>
    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
            <div class="col-md-6 col-sm-12">
                {{ field|as_crispy_field }}
            </div>
        </div>
        {% endfor %}
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button class="btn btn-primary" type="button" onclick="window.history.back();">Cancel</button>
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endif %}

{% endblock main %}
