{% extends 'base.html' %}

{% load static %}

{% block title %}My Account | {% block myacc_title %}{% endblock myacc_title %}{% endblock title %}
{% block description %}{% endblock description %}
{% block authors %}{% endblock authors %}
{% block keywords %}{% endblock keywords %}
{% block styles %}

{% endblock styles %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="row justify-content-center">
                <ul class="nav flex-column">
                    <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'accounts:home' %}">My Profile</a>
                    </li>
                    <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'accounts:settings' %}">Account Settings</a>
                    </li>
                    <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'accounts:orders' %}">Your Orders</a>
                    </li>
                    <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'accounts:addresses' %}">Manage Addresses</a>
                    </li>
                    <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'accounts:logout' %}" >Logout</a>
                    </li>
                </ul>
                <!-- {% if request.user.is_vendor %}
                <ul class="nav flex-column">
                    <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'third:vendor_home' %}">Vendor Profile</a>
                    </li>
                    <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'third:vendor_restaurants' %}">My Restaurants</a>
                    </li>
                    <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'accounts:orders' %}">New Orders</a>
                    </li>
                    <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'accounts:addresses' %}">Completed Orders</a>
                    </li>
                    <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'accounts:logout' %}" >Delete Profile</a>
                    </li>
                </ul>
                {% endif %} -->
                {% if request.user.is_delivery %}
                <ul class="nav flex-column">
                    <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'third:delivery_home' %}">Delivery Profile</a>
                    </li>
                    <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'third:new_delivery' %}">New Deliveries</a>
                    </li>
                    <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'third:previous_delivery' %}">Previous Deliveries</a>
                    </li>
                    <!-- <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'accounts:addresses' %}">Manage Sales</a>
                    </li> -->
                    <li class="nav-item py-1">
                        <a class="nav-link button w-100 text-center" href="{% url 'third:deactivate_delivery' %}" >Deactivate Profile</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-md-9">

            {% block main %}
            {% endblock main %}

        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}