{% load static %}

<div id="myModal" class="modal fade">

    <div class="modal-dialog">
  
      <div class="modal-content">
        {% if request.user.is_authenticated %}
        <div class="modal-header">
  
  
          <center><h4 class="modal-title" style="color: var(--main);">Get Groceries now</h4></center>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="float: right!important;">&times;</button>
        </div>
  
        <div class="modal-body">
            <center><img src="{% static 'svg/8.svg' %}" alt="" width="100%"></center>
          <center><p>Get super fast delivery during this lockdown.</p></center>
          <center><a href="{% url 'grocery:home' %}" class="button">Grab Now</a></center>
        </div>
        {% else %}
  
        <div class="modal-header">
  
  
          <center><h4 class="modal-title">Login to your account</h4></center>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="float: right!important;">&times;</button>
        </div>
  
        <div class="modal-body">
            <center><img src="{% static 'svg/8.svg' %}" alt="" width="100%"></center>
          <center><p>May be you are missing out many of the great deals....</p></center>
          <center><a href="{% url 'accounts:login' %}" class="button">Login</a></center>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  