  {% load static %}
  <!--================ Header Menu Area start =================-->
  <header class="header_area">
      <div class="main_menu">
          <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container box_1620">
                  <a class="navbar-brand logo_h" href="{% url 'core:home' %}"><img src="{% static 'img/logo.png' %}"
                          alt="" width="150px"></a>
                  <a class="d-md-none d-lg-none d-xl-none d-sm-block" style="margin-left: 15%!important;" href="{% url 'cart:home' %}"><i class="ti-shopping-cart" style="color: var(--main); font-size: 28px; font-weight: bolder"></i></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse"
                      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                      aria-label="Toggle navigation">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>

                  <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                      <ul class="nav navbar-nav menu_nav justify-content-end">

                          <li class="nav-item ">
                              <form action="{% url 'core:search' %}?search={{ query}}" class="mt-4">
                                  <div class="form-group py-2">
                                      <div class="input-group">
                                          <input type="text" value="{{ query }}" class="form-control"
                                              placeholder="Search awesome foods" name="search">
                                          <div class="input-group-append">
                                              <button class="btn" type="submit"
                                                  style="background-color: var(--main); color: #fff"><i
                                                      class="ti-search"></i></button>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'core:home' %}">
                                  <!-- <img
                                      src="https://icons.iconarchive.com/icons/graphicloads/100-flat/256/home-icon.png"
                                      alt="Avatar" width="45px" style="margin-bottom: 0px!important;"> --> <i
                                      class="ti-home"></i> Home</a></li>
                          {% if request.user.is_authenticated %}
                          <li class="nav-item submenu dropdown">
                              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                  aria-haspopup="true" aria-expanded="false">
                                  <!-- <img
                                      src="https://cdn.iconscout.com/icon/free/png-512/avatar-370-456322.png"
                                      alt="Avatar" width="45px" style="margin-bottom: 0px!important;">--> <i
                                      class="ti-user"></i> Hello {{ request.user.user_id|title }}</a>
                              <ul class="dropdown-menu">
                                  <li class="nav-item"><a class="nav-link" href="{% url 'accounts:home' %}">My
                                          Account</a></li>
                                  <!-- {% if request.user.is_vendor %}
                                  <li class="nav-item"><a class="nav-link" href="{% url 'dashboard:home' %}">IAM
                                          Vendor</a></li>
                                  {% endif %} -->
                                  {% if request.user.is_delivery %}
                                  <li class="nav-item"><a class="nav-link" href="{% url 'third:delivery_home' %}">IAM
                                          DBoy</a></li>
                                  {% endif %}
                                  {% if request.user.is_admin %}
                                  <li class="nav-item"><a class="nav-link" href="/admin/">IAM
                                          ADMIN</a></li>
                                  {% endif %}
                                  <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                                  </li>
                              </ul>
                          </li>
                          {% else %}

                          <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}"> <i
                                      class="ti-user"></i> Login</a></li>

                          <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}"> <i
                                      class="ti-user"></i> Register</a></li>
                          {% endif %}
                          <li class="nav-item submenu dropdown">
                              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                  aria-haspopup="true" aria-expanded="false">
                                  <!-- <img
                                      src="https://img.icons8.com/bubbles/2x/product.png" alt="Avatar" width="45px"
                                      style="margin-bottom: 0px!important;">--> <i class="ti-crown"></i> Explore</a>
                              <ul class="dropdown-menu">
                                  <li class="nav-item"><a class="nav-link" href="{% url 'products:menu' %}"> <i
                                              class="ti-menu-alt"></i> Menu</a>
                                  <li class="nav-item "><a class="nav-link" href="{% url 'products:restaurants' %}"> <i
                                              class="ti-dribbble"></i> Restaurants</a>
                                  <li class="nav-item "><a class="nav-link" href="{% url 'products:categories' %}"> <i
                                              class="ti-eye"></i> Categories</a>
                                  <li class="nav-item "><a class="nav-link" href="{% url 'products:collections' %}"><i
                                              class="ti-layout-column3"></i> Collections</a>
                              </ul>
                          </li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'cart:home' %}">
                                  <!-- <img
                                      src="https://icons.iconarchive.com/icons/graphicloads/100-flat/256/cart-remove-icon.png"
                                      alt="Avatar" width="45px" style="margin-bottom: 0px!important;">--> <i
                                      class="ti-shopping-cart"></i> Cart</a></li>

                      </ul>
                  </div>
              </div>
          </nav>
      </div>
  </header>

  <!--================Header Menu Area =================-->