  {% load static %}
  <!--================ Header Menu Area start =================-->
  <header class="header_area">
      <div class="main_menu">
          <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container box_1620">
                  <a class="navbar-brand logo_h mt-0" href="{% url 'core:home' %}"><img
                          src="{% static 'img/logo.png' %}" alt="" width="150px"></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse"
                      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                      aria-label="Toggle navigation">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>

                  <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                      <ul class="nav navbar-nav menu_nav justify-content-end">

                          <li class="nav-item ">
                              <form action="{% url 'core:search' %}?search={{ query}}" class="mt-4">
                                  <div class="form-group py-2">
                                      <div class="input-group">
                                          <input type="text" value="{{ query }}" class="form-control"
                                              placeholder="Search awesome foods" name="search">
                                          <div class="input-group-append">
                                              <button class="btn" type="submit"
                                                  style="background-color: var(--main); color: #fff"><i
                                                      class="ti-search"></i></button>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </li>
                          <li class="nav-item mt-0"><a class="nav-link" href="{% url 'core:home' %}"><!-- <img
                                      src="https://icons.iconarchive.com/icons/graphicloads/100-flat/256/home-icon.png"
                                      alt="Avatar" width="45px" style="margin-bottom: 0px!important;"> --> <i class="ti-home"></i> Home</a></li>
                          {% if request.user.is_authenticated %}
                          <li class="nav-item submenu dropdown mt-0">
                              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                  aria-haspopup="true" aria-expanded="false"><!-- <img
                                      src="https://cdn.iconscout.com/icon/free/png-512/avatar-370-456322.png"
                                      alt="Avatar" width="45px" style="margin-bottom: 0px!important;">--> <i class="ti-user"></i> IAM</a>
                              <ul class="dropdown-menu">
                                  <li class="nav-item"><a href="#" class="nav-link">Hello
                                          {{ request.user.user_id|upper }}</a></li>
                                  <li class="nav-item"><a class="nav-link" href="{% url 'accounts:home' %}">My
                                          Account</a></li>
                                  {% if request.user.is_vendor %}
                                  <li class="nav-item"><a class="nav-link" href="{% url 'dashboard:home' %}">IAM
                                          Vendor</a></li>
                                  {% endif %}
                                  {% if request.user.is_delivery %}
                                  <li class="nav-item"><a class="nav-link" href="{% url 'dashboard:home' %}">IAM
                                          DBoy</a></li>
                                  {% endif %}
                                  {% if request.user.is_admin %}
                                  <li class="nav-item"><a class="nav-link" href="{% url 'dashboard:home' %}">IAM
                                          ADMIN</a></li>
                                  {% endif %}
                                  {% if request.user.is_admin or request.user.is_client %}
                                  <li class="nav-item"><a class="nav-link"
                                          href="{% url 'dashboard:home' %}">Dashboard</a></li>
                                  {% endif %}
                                  <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                                  </li>
                              </ul>
                          </li>
                          {% else %}

                          <li class="nav-item mt-3"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>

                          <li class="nav-item mt-3"><a class="nav-link" href="{% url 'accounts:signup' %}">Register</a></li>
                          {% endif %}
                          <li class="nav-item submenu dropdown mt-0">
                              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                  aria-haspopup="true" aria-expanded="false"><!-- <img
                                      src="https://img.icons8.com/bubbles/2x/product.png" alt="Avatar" width="45px"
                                      style="margin-bottom: 0px!important;">--> <i class="ti-crown"></i> Explore</a>
                              <ul class="dropdown-menu">
                                  <li class="nav-item"><a class="nav-link" href="{% url 'products:menu' %}">Menu</a>
                                  <li class="nav-item "><a class="nav-link"
                                          href="{% url 'products:restaurants' %}">Restaurants</a>
                                  <li class="nav-item "><a class="nav-link"
                                          href="{% url 'products:categories' %}">Categories</a>
                                  <li class="nav-item "><a class="nav-link"
                                          href="{% url 'products:collections' %}">Collections</a>
                              </ul>
                          </li>
                          <li class="nav-item mt-0"><a class="nav-link" href="{% url 'cart:home' %}"><!-- <img
                                      src="https://icons.iconarchive.com/icons/graphicloads/100-flat/256/cart-remove-icon.png"
                                      alt="Avatar" width="45px" style="margin-bottom: 0px!important;">--> <i class="ti-shopping-cart"></i> Cart</a></li>

                      </ul>
                  </div>
              </div>
          </nav>
      </div>
  </header>
  <!--================Header Menu Area =================-->