<form action="{% url 'cart:update' %}" class="form-product-ajax" method="post" data-endpoint="{% url 'cart:update' %}" class="form" {% if request.user.is_authenticated %}data-user='abc'{% endif %}>
    {% csrf_token %}
    <input type="hidden" name="grocery_id" value='{{ grocery.id }}'>
        <span class="submit-span">
            {% if grocery in cart.groceries.all %}
            <div class="btn-group"><button type="submit" class="bg-warning button btn-sm rounded-1 px-4">Remove</button></div>
            {% else %}
            <!-- <input type="number" name="quantity" value="1" class="my-2"> -->
            <button class="btn-sm button rounded-1 px-4" type="submit">Add</button>
            {% endif %}
        </span>
</form>