{% extends 'accounts/myaccount/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block myacc_title %}Your all orders{% endblock myacc_title %}
{% block description %}{% endblock description %}
{% block authors %}{% endblock authors %}
{% block keywords %}{% endblock keywords %}
{% block styles %}{% endblock styles %}


{% block main %}

<div class="container">
    <h4 class="display-4">{{ title }}</h4>
    <div class="row mt-3">
        {% if orders %}
        {% for order in orders %}
        <div class="col-md-6 col-sm-12">
            <div class="card w-100 shadow-lg m-3" style="border-radius: 6px!important;">
                <div class="card-body text-center" style="background: var(--main);">
                    <h5 class="card-title"><a href="{% url 'accounts:order_detail' order.id %}"
                            style="color: #fff;">Order ID - <strong>{{ order.order_id }}</strong> | Rs. {{ order.cart.total }}</a>
                    </h5>
                </div>
                <div class="card-footer">
                    <p class="text-muted">Created on {{ order.timestamp }} </p>
                    <p class="text-primary">Order Status: <strong>{{ order.status|title }}</strong></p>
                </div>
                <div class="card-footer">
                    <div class="btn-group">
                        {% if order.status == 'created' %}
                        <a class="btn btn-primary" href="{% url 'third:ship_delivery' order.id %}">Ship Order</a>
                        <a class="btn btn-danger" href="{% url 'third:cancel_delivery' order.id %}">Cancel Order</a>
                        {% elif order.status == 'shipped' %}
                        <a class="btn btn-success" href="{% url 'third:complete_delivery' order.id %}">Complete Order</a>
                        <a class="btn btn-danger" href="{% url 'third:cancel_delivery' order.id %}">Cancel Order</a>
                        {% elif order.status == 'completed' %}
                        <a class="btn btn-success" href="{% url 'third:complete_delivery' order.id %}">Complete Order</a>
                        <a class="btn btn-danger" href="{% url 'third:cancel_delivery' order.id %}">Cancel Order</a>
                        {% endif %}
                        {% if order.delivery_boy is None %}
                        <a class="button rounded-0 text-light" href="{% url 'third:assign_deliveryboy' order.id %}">Handle</a>
                        {% else %}
                        <p class="text-muted">Delivery Boy:- {{ order.delivery_boy.user.full_name }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock main %}