{% extends 'accounts/myaccount/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block myacc_title %}Order - {{ order.order_id }}{% endblock myacc_title %}
{% block description %}{% endblock description %}
{% block authors %}{% endblock authors %}
{% block keywords %}{% endblock keywords %}
{% block styles %}{% endblock styles %}


{% block main %}

<div class="container">
    <h4 class="display-4">Order - {{ order.order_id }}</h4>
    <div class="col-md-12 col-sm-12">
        <div class="card w-100 shadow-lg my-3" style="border-radius: 6px!important;">
            <div class="card-body text-center" style="background: var(--main);">
                <h5 class="card-title"><a href="{% url 'accounts:order_detail' order.id %}" style="color: #fff;">Rs.
                        {{ order.cart.total }} - Total {{ order.cart.foods.count }} items</a>
                </h5>
                <br>
                <div class="btn-group">
                    {% if order.status == 'created' %}
                    <a class="btn btn-link mx-2" href="{% url 'third:ship_delivery' order.id %}">Ship Order</a>
                    <a class="btn btn-link mx-2" href="{% url 'third:cancel_delivery' order.id %}">Cancel Order</a>
                    {% elif order.status == 'shipped' %}
                    <a class="btn btn-link mx-2" href="{% url 'third:complete_delivery' order.id %}">Complete Order</a>
                    <a class="btn btn-link mx-2" href="{% url 'third:cancel_delivery' order.id %}">Cancel Order</a>
                    {% elif order.status == 'completed' %}
                    <a class="btn btn-link mx-2" href="{% url 'third:complete_delivery' order.id %}">Complete Order</a>
                    <a class="btn btn-link mx-2" href="{% url 'third:cancel_delivery' order.id %}">Cancel Order</a>
                    {% endif %}
                    {% if order.delivery_boy is None %}
                    <a class="btn btn-link mx-2" href="{% url 'third:assign_deliveryboy' order.id %}">Handle</a>
                    {% endif %}
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted">Created on {{ order.timestamp }} </p>
                <p class="text-primary">Order Status: <strong>{{ order.status|title }}</strong></p>
            </div>
            <div class="card-footer">
                <p class="lead"><strong>Order Details</strong></p>
                <div class="col-md-12 mt-4 pt-4">
                    <h4 class="display-4" style="color: var(--main);">Customer Details</h4>
                    {% if request.user.is_authenticated %}
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead class="" style="background: var(--main)!important; color: #fff;">
                                <tr>
                                    <th scope="col" class="col-md-2" style="min-width: 120px!important;"></th>
                                    <th scope="col" class="col-md-1">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        <p class="lead" style="color: var(--main);"><strong>Customer User ID</strong>
                                        </p>
                                    </th>
                                    <th>
                                        <p class="lead">{{ order.user.user_id }}</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <p class="lead" style="color: var(--main);"><strong>Customer Name</strong></p>
                                    </th>
                                    <th>
                                        <p class="lead">{{ order.user.full_name }}</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <p class="lead" style="color: var(--main);"><strong>Customer Email</strong></p>
                                    </th>
                                    <th>
                                        <p class="lead">{{ order.user.email }}</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <p class="lead" style="color: var(--main);"><strong>Customer Mobile
                                                Number</strong></p>
                                    </th>
                                    <th>
                                        <p class="lead">{{ order.user.mobile_number }}</p>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    <h4 class="display-4" style="color: var(--main);">Selected address</h4>
                    {% if request.user.is_authenticated %}
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead class="" style="background: var(--main)!important; color: #fff;">
                                <tr>
                                    <th scope="col" class="col-md-2" style="min-width: 120px!important;"></th>
                                    <th scope="col" class="col-md-1">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        <p class="lead" style="color: var(--main);"><strong>Address Name</strong></p>
                                    </th>
                                    <th>
                                        <p class="lead">{{ order.address.name }}</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <p class="lead" style="color: var(--main);"><strong>Address Line 1</strong></p>
                                    </th>
                                    <th>
                                        <p class="lead">{{ order.address.address1 }}</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <p class="lead" style="color: var(--main);"><strong>Address Line 2</strong></p>
                                    </th>
                                    <th>
                                        <p class="lead">{{ order.address.address2 }}</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <p class="lead" style="color: var(--main);"><strong>City</strong></p>
                                    </th>
                                    <th>
                                        <p class="lead">{{ order.address.city }}</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <p class="lead" style="color: var(--main);"><strong>State</strong></p>
                                    </th>
                                    <th>
                                        <p class="lead">{{ order.address.state }}</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <p class="lead" style="color: var(--main);"><strong>Country</strong></p>
                                    </th>
                                    <th>
                                        <p class="lead">{{ order.address.country }}</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <p class="lead" style="color: var(--main);"><strong>Primary Mobile
                                                Number</strong></p>
                                    </th>
                                    <th>
                                        <p class="lead"><a href="tel:{{ order.address.mobile_number }}">{{ order.address.mobile_number }}</a></p>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <p class="lead" style="color: var(--main);"><strong>Alternate Mobile
                                                Number</strong></p>
                                    </th>
                                    <th>
                                        <p class="lead"><a href="tel:{{ order.address.alt_mobile }}">{{ order.address.alt_mobile }}</a></p>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    <h4 class="display-4" style="color: var(--main);">Order Details</h4>
                    {% if order.cart %}
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead class="" style="background: var(--main)!important; color: #fff;">
                                <tr>
                                    <th scope="col" class="col-md-2" style="min-width: 120px!important;">Item Thumbnail
                                    </th>
                                    <th scope="col" class="col-md-1">Quantity</th>
                                    <th scope="col" class="col-md-7" style="min-width: 450px!important;">Item Name</th>
                                    <th scope="col" class="col-md-2 col-sm-12">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order.cart.foods.all %}
                                <tr>
                                    <th scope="row"><img src="{{ item.foodimage_set.first.image.url }}"
                                            alt="{{ item.name }}" width="90px"></th>
                                    <th>1</th>
                                    <td><a href="{% url 'products:food_detail' item.id %}">
                                            <p class="lead"><strong>{{ item.name }}</strong></p>
                                        </a>
                                        <small>{{ item.restaurant.name }}</small><br>
                                        <a href="tel:{{ item.restaurant.mobile_number}}" class="btn btn-link">Call Restaurant</a>
                                    </td>
                                    <td>Rs. {{ item.discount_price }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Sub Total</th>
                                    <th>{{ order.cart.sub_total }}</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Discount (If Any)</th>
                                    <th>You saved 15%</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Shipping Charges</th>
                                    <th>{{ order.cart.shipping }}</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Total</th>
                                    <th>{{ order.cart.total }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% endblock main %}